body {
    background-image:url('/svgs/background.svg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
    margin: 0px;
    padding: 0px;
    border: 0px;
}