ul.head {
    list-style-type: none;
    margin: 0px auto;
    padding: 0;
    overflow: hidden;
    background-color: #0000FF;
}
ul.head img {
    float: left;
}
ul.head li {
    float: left;
    width: 10%;
}
ul.head li a {
    display: block;
    color: white;
    text-align: center;
    width:100%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
}
ul.head li a:hover {
    background-color: #0066ff;
}
ul.head marquee {
    float: left;
    width: 50%;
}