ul.head {
width: 100%;
height: 40px;
margin: 0px auto;
background: #0000ff;
font-size: 18px;
}
ul.head li {
float: left;
width: 10%;
position:relative;
}
ul.head li a {
display: block;
width:100%;
height: 40px;
line-height: 40px;
text-align: center;
color: #ffffff;
}

ul.head li a:hover {
color: #ffffff;
background: #0066ff;
}

ul.head li ul {
z-index: 3;
position:absolute;
width: 100%;
top:40px;
margin: 0 auto;
display:none;
list-style: none;
}
ul.head li ul li {
float:none;
margin: 0 auto;
}
ul.head li ul li a{
background:#0000ff;
border-top:0px solid #ffffff;
margin: 0 auto;
}
ul.head li:hover ul {
display:block;
}