#list ul {
	margin:0;
	padding:0;
    overflow: hidden;
    list-style-type:none;
    background-color: #0000ff;
}
#list ul li, #list ul #dropdown, #list ul #dropdown #dropdown-content li {
    float: left;
    width: 10%;
}
#list ul li a, #list ul #dropdown a, #list ul #dropdown a, #list ul #dropdown #dropdown-content li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#list ul li a:hover, #list ul li a.active, #list ul #dropdown:hover, #list ul #dropdown a:hover, #list ul #dropdown a.active, #list ul #dropdown #dropdown-content li a:hover, #list ul #dropdown #dropdown-content li a.active {
    background-color: #0066ff;
}
#list ul #dropdown {
    display:inline-block;
    background-color:#0000ff;
}

#list ul #dropdown:hover #dropdown-content {
    display: block;
}
#list ul #dropdown #dropdown-content {
    display:none;
    min-width:160px;
    position:absolute;
    background-color:#0000ff;
}