#list {
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #0000ff;
}
#list ul{
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}
#list ul li {
    width: 10%;
    float: left;
}
#list ul li a{
    width:100%;
    height: 40px;
    line-height: 40px;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
#list ul li a:hover, #list ul li a.active, #list ul li ul li a:hover, #list ul li ul li a.active{
    background-color: #0066ff;
}
#list ul li ul {
    top: 125px;
    width: 100%;
    display: none;
    margin: 0 auto;
}
#list ul li:hover ul {
    display: block;
}
#list ul li ul li {
    float: none;
    margin: 0 auto;
    position: absolute;
  
}
#list ul li ul li a {
    margin: 0 auto;
    padding-left:10px;
    padding-right:10px;
    background: #0000ff;
}