#list ul {
	margin:0;
	padding:0;
    overflow: hidden;
    list-style-type:none;
    background-color: #0000ff;
}
#list ul li {
    float: left;
    width: 10%;
}
#list ul li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#list ul li a:hover, #list ul li a.active{
    background-color: #0066ff;
}