body {background-image:url('/svgs/background.svg');background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;}
h1 {color:blue;text-align:center}
h3 {color:blue;}
a:link {color:#7FB5FF;text-decoration:none;}
a:visited {color:#7FB5FF;text-decoration:none;}
a:hover {color:#7FB5FF;text-decoration:underline;}
a:active {color:blue;text-decoration:underline;}