body {
    background-image:url('/svgs/background.svg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
}
h1 {
    color:#0000FF;
    text-align:center
}
h3 {
    color:#0000FF;
}
a:link {
    color:#0033FF;
    text-decoration:none;
}
a:visited {
    color:#0033FF;
    text-decoration:none;
}
a:hover {
    color:#0033FF;
    text-decoration:underline;
}
a:active {
    color:#0000FF;
    text-decoration:underline;
}