body {
    background-image:url('/svgs/background.svg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
}

h1 {
    color:#0000FF;
    text-align:center
}
h3 {
    color:#0000FF;
}

p.tip {
    color:#FF0000;
}
p.enus {
    color:#003366;
}
p.zhcn {
    color:#CC0000;
}

sup.tip {
    color:#FF0000;
}

a:link {
    color:#0000FF;
    text-decoration:none;
}
a:visited {
    color:#0000FF;
    text-decoration:none;
}
a:hover {
    color:#0000FF;
    text-decoration:underline;
}
a:active {
    color:#FFFFFF;
    text-decoration:underline;
    background-color:#0000FF;
}

a.enus:link {
    color:#003366;
    text-decoration:none;
}
a.enus:visited {
    color:#003366;
    text-decoration:none;
}
a.enus:hover {
    color:#003366;
    text-decoration:underline;
}
a.enus:active {
    color:#FFFFFF;
    text-decoration:underline;
    background-color:#003366;
}

a.zhcn:link {
    color:#CC0000;
    text-decoration:none;
}
a.zhcn:visited {
    color:#CC0000;
    text-decoration:none;
}
a.zhcn:hover {
    color:#CC0000;
    text-decoration:underline;
}
a.zhcn:active {
    color:#FFFFFF;
    text-decoration:underline;
    background-color:#CC0000;
}

img.logo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}