body {
    background-image:url('/svgs/background.svg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
}

ul.head {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000FF;
}
ul.head img {
    float: left;
    width: 7.5%;
}
ul.head li {
    float: left;
    width: 33.333%;
}
ul.head li a {
    display: block;
    color: white;
    text-align: center;
    width:100%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
}
ul.head li a:hover {
    background-color: #0066ff;
}

h1 {
    color:#0000FF;
    text-align:center;
}
h1.watch {
    color:#F8A844;
    text-align:center;
}
h3 {
    color:#0000FF;
}

p.tip {
    color:#FF0000;
}
p.enus {
    color:#003366;
}
p.zhcn {
    color:#CC0000;
}
p.watch {
    text-align:center;
}

sup.tip {
    color:#FF0000;
}

a:link {
    color:#0000FF;
    text-decoration:none;
}
a:visited {
    color:#0000FF;
    text-decoration:none;
}
a:hover {
    color:#0000FF;
    text-decoration:underline;
}
a:active {
    color:#FFFFFF;
    text-decoration:underline;
    background-color:#0000FF;
}
a.now:link {
    background-color:#0066FF;
}

a.enus:link {
    color:#003366;
    text-decoration:none;
}
a.enus:visited {
    color:#003366;
    text-decoration:none;
}
a.enus:hover {
    color:#003366;
    text-decoration:underline;
}
a.enus:active {
    color:#FFFFFF;
    text-decoration:underline;
    background-color:#003366;
}

a.zhcn:link {
    color:#CC0000;
    text-decoration:none;
}
a.zhcn:visited {
    color:#CC0000;
    text-decoration:none;
}
a.zhcn:hover {
    color:#CC0000;
    text-decoration:underline;
}
a.zhcn:active {
    color:#FFFFFF;
    text-decoration:underline;
    background-color:#CC0000;
}

a.watch:link {
    color:#FF9933;
    text-decoration:none;
}
a.watch:visited {
    color:#FF9933;
    text-decoration:none;
}
a.watch:hover {
    color:#FF9933;
    text-decoration:underline;
}
a.watch:active {
    color:#FFFFFF;
    text-decoration:underline;
    background-color:#FF9933;
}

marquee {
    background-color:#0000FF;
}
marquee.watch{
    background-color:#FF9933;
}
span {
    color:#FFFFFF;
}