/*Little-Earthworm provides this technology. ©2020 Little-Earthworm*/

h1 {
    color: #0000ff;
    text-align: center;
}
h2, h3, h4, h5, h6 {
    margin-left: 10%;
    margin-right: 10%;
    color: #0000ff;
}

p, ul.a, ol.a, details.b {
    margin-left: 10%;
    margin-right: 10%;
}

#center p {
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
}

details.a {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

dd {
    margin-left: 12%;
    margin-right: 10%;
}
#about dd {
    margin-top: 10px;
    margin-right: 10%;
	margin-bottom: 10px;
}

a:link, a:visited {
    color: #0000FF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #FF0000;
    text-decoration: underline;
}

hr {
    margin-left: 10%;
    margin-right: 10%;
}

table {
    margin-left: 12%;
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid #DFE2E5;
}
td {
    padding: 6px;
    text-align: center;
}