/*Little-Earthworm provides this technology. ©2020 Little-Earthworm*/

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-image: url('/svgs/background.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}